<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login with your username and password</title>
  </head>
  <body>
    <div class="loginContainer form">
      <form class="login" method="post">
        <input type="text" id="userName" value="">
        <input type="text" id="password" name="name" value="">

        <button type="submit" id="enviarLogin"name="button"></button>
      </form>
    </div>
    <span class="startRegister form"> don't you have an account? come here </span>
    <span class="startRegister form" style="display:none;"> go back to login </span>
    <div class="registerContainer form" style="display:none">
      <form class="register" method="post">
        <input type="text" id="name" value="">
        <input type="text" id="lasName" value="">
        <input type="text" id="newUser" value="">
        <input type="password" id="newPassword" value="">
      </form>
    </div>
    <script type="text/javascript" src="./../js/login.js"></script>
  </body>
</html>
