<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="./../node_modules/delivery/lib/client/delivery.js"></script>
  </head>
  <body>
    <script type="text/javascript">
    const renderer = require('electron').ipcRenderer
    var io = require('./../node_modules/socket.io-client/dist/socket.io.js')
    const remote = require("electron").remote
    var window = remote.getCurrentWindow()
    var socket = io('http://localhost:8001');
    var delivery = new Delivery(socket);


    renderer.send('watch', 'ok')

    renderer.on('login', (event, arg) =>{
      socket.emit('login', arg)
    })
    renderer.on('chat message', (event, arg) => {
      socket.emit('chat message', arg);
    })

    renderer.on('buzz', (event, arg) => {
      console.log(arg);
      socket.emit('buzz', arg);
    })

    renderer.on('offer', (event, arg) => {
      socket.emit('offer', arg);
    })

    renderer.on('answer', (event, arg) => {
      socket.emit("answer", arg);
    })

    renderer.on('leave', (event, arg) => {
      socket.emit('leave', arg);
    })

    renderer.on('testPing', (event, arg) => {
      console.log('llegueee');
    })

    renderer.on('candidate', (event, arg) => {
      socket.emit("candidate", arg);
    })

    renderer.on('file transfer', (event, arg) =>{
      // arg.file = new Buffer(arg.file, 'base64');
      // console.log(arg.file)
      socket.emit("file transfer", arg);
    })

    renderer.on('statusChange', (event, arg)=>{
      socket.emit('statusChange', arg);
    })

    renderer.on('getOldMessages', (event, arg) => {
      socket.emit('getOldMessages', arg);
    })

    renderer.on('store-messages', (event, arg) => {
      socket.emit('store-messages', arg)
    })

    renderer.on('startGame', (event, arg) => {
      socket.emit('startGame', arg)
    })

    renderer.on('acceptGame', (event, arg) => {
      socket.emit('acceptGame', arg)
    })

    renderer.on('recoverMessages', (event, arg) =>{
      socket.emit('recoverMessages', arg)
    })

    renderer.on('accelerateGame', (event, arg) =>{
      socket.emit('accelerateGame', arg)
    })

    socket.on('chat message', function(msg){
      console.log("si llega al watch")
      renderer.send('chat message-r', msg)
    })

    socket.on("buzz", function(data){
      renderer.send('buzz-r', data)
    })

    socket.on('offer', function(data){
      renderer.send('offer-r', data)
    })

    socket.on('answer', function(data){
      renderer.send('answer-r', data)
    })

    socket.on('leave', function(data){
      renderer.send('leave-r', data)
    })

    socket.on('candidate', function(data){
      console.log(data)
      renderer.send('candidate-r', data)
    })

    socket.on('getOldMessages', function(data){
      console.log(data)
      renderer.send('oldMessages-r', data)
    })

    socket.on('file transfer', function(data){
      renderer.send('file transfer-r', data)
    })

    socket.on('startGame', function(data){
      console.log("si llega al wath")
      renderer.send('startGame-r', data)
    })

    socket.on('acceptGame', function(data){
      renderer.send('acceptGame-r', data)
    })

    socket.on('recoverMessages', function(data){
      renderer.send('recoverMessages-r', data)
    })

    socket.on('accelerateGame', function(data){
      renderer.send('accelerateGame-r', data)
    })

    </script>
  </body>
</html>
