<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="./../node_modules/delivery/lib/client/delivery.js"></script>
  </head>
  <body>
    <script type="text/javascript">
    const renderer = require('electron').ipcRenderer
    var io = require('./../node_modules/socket.io-client/dist/socket.io.js')
    const remote = require("electron").remote
    var window = remote.getCurrentWindow()
    var socket = io('http://localhost:8001');
    var delivery = new Delivery(socket);


    renderer.send('watch', 'ok')

    renderer.on('login', (event, arg) =>{
      socket.emit('login', arg)
    })
    renderer.on('chat message', (event, arg) => {
      socket.emit('chat message', arg);
    })

    renderer.on('buzz', (event, arg) => {
      socket.emit('buzz', arg);
    })

    renderer.on('offer', (event, arg) => {
      socket.emit('offer', arg);
    })

    renderer.on('answer', (event, arg) => {
      socket.emit("answer", arg);
    })

    renderer.on('testPing', (event, arg) => {
      console.log('llegueee');
    })

    renderer.on('candidate', (event, arg) => {
      socket.emit("candidate", arg);
    })

    renderer.on('file transfer', (event, arg) =>{
      // arg.file = new Buffer(arg.file, 'base64');
      // console.log(arg.file)
      socket.emit("file transfer", arg);
    })

    socket.on('chat message', function(msg){
      renderer.send('chat message-r', msg)
    })

    socket.on("buzz-r", function(data){
      renderer.send('buzz-r', data)
    })

    socket.on('offer', function(data){
      renderer.send('offer-r', data)
    })

    socket.on('answer', function(data){
      renderer.send('answer-r', data)
    })

    socket.on('candidate', function(data){
      renderer.send('candidate-r', data)
    })

    socket.on('file transfer', function(data){
      renderer.send('file transfer-r', data)
    })

    </script>
  </body>
</html>
